 .box_style{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    padding-bottom: 30px;
    padding-top: 30px;

  }
  .box_colour1{
    background-color:rgb(136, 198, 248);

  }
  .box_colour2{
    background-color:rgb(255, 210, 158);

  }
  .box_colour3{
    background-color:rgb(238, 164, 164);

  }